/*    Alert PopUp CSS Start       */

.x-rm-alertpopup {
    background-image: none;
    border: 2px solid #2EC1DA;
}

.x-rm-alertpopup {
    background-color: #FFFFFF;    
}

.x-rm-alertpopup .x-anchor.x-anchor-bottom,
.x-rm-alertpopup .x-anchor.x-anchor-top {
    background-color: transparent !important;
}

.x-rm-alertpopup .x-scroll-scroller {
    height:100% !important;
}

.x-rm-alertpopup .x-anchor.x-anchor-bottom,
.x-rm-alertpopup .x-anchor.x-anchor-top {
    background-image: url('../../../resources/images/filterDropDown/filterUpArrow.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    -webkit-mask: none;
}

.x-rm-alertpopup .x-anchor.x-anchor-bottom {
    margin-top: -4px !important;
    -webkit-transform: rotate(180deg);
}

.x-rm-alertpopup .x-label, 
.x-rm-alertpopupbtns .x-button-label {
    font-size:72% !important;
    color:#535355 !important;
    font-family: 'OpenSans'; 
    font-weight:500 !important;
}

.x-rm-alertpopupbtns {
    background-color:#F3F3F4 !important;
    border-color:#F3F3F4 !important;
    height:100% !important;
}

.x-rm-alertpopupbtns-pressing {
    background-color:#2EC1DA !important;    
    border-color:#2EC1DA !important;
}

.x-rm-alertpopupbtns-pressing .x-button-label {
    color:#F3FAFD !important;
}


/*    Alert PopUp CSS End         */